.html, body {
  	background-color: rgb(30, 35, 40);
	font-family: Arial;
	color:rgb(255, 255, 255);
	align-items: center;
	text-align: center;
	align-self: center;
}
.html{
    padding: 0px;
    margin: 0px;
}
.btn{
    background-color: rgb(45, 45, 50);
    color: white;
}
.btn:hover{
    background-color: rgb(104, 0, 255);
}

/*Cabeçalho + menu*/
.cabecalho{
  	background-color: rgb(50, 55, 60);
  	margin-bottom: 10px;
}
.menu_area{
	font-size: 17px;
    padding: 0.5%;
}
.menu_area nav a{
	background-color: rgb(40, 45, 50);
	color: white;
}
.menu_area nav a:hover{
	background-color: rgb(65, 70, 80) !important;
    color:rgb(104, 0, 255);
}
.logo{
	font-size: 40px;
	text-align: center;
}

/*Sobre Mim*/
.sobreMim{
    margin-bottom: 15px;
    /*border: rgb(104, 0, 255) solid 1px;*/
}
.sobreMim h1{
	margin-bottom: 15px;
}
.photo-sob{
    float: left;
    background-color: rgb(104, 0, 255);
	padding: 1px;
    margin-bottom: 15px;
}
.text-sob{
    color: rgb(190, 190, 190);
    float: right;
    text-align: left;
}

/*Todas as Disciplina */
.trab-geral{
    background-color: rgb(50, 55, 60);
    margin-bottom: 5px;
}
.trab-geral2{
    background-color: rgb(30, 35, 40);
    margin-bottom: 5px;
}
.trab h1{
    margin-top: 5px; 
    float: center;
}
.photo-trab{
    float: right;
    background-color: rgb(104, 0, 255);
	padding: 1px;
}
.text-trab{
    color: rgb(190, 190, 190);
    float: left;
    text-align: left;
}
.text-trab h2{
    text-align: center;
}
.text-trab p a{
    color: rgb(190, 190, 190);;
}
.geral-carousel{
    margin-bottom: 35px;
}


/*Rodapé*/
.rodape{
    margin-top: 15px;
    background-color: rgb(50, 55, 60);
}
.text-rod{
    margin-top: 15px;
    margin-bottom: 0px;
    float: center;
}
.contatos{
    margin-bottom: 3px;
}